body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f8f8f8;
}

h1 {
    color: #333;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: auto auto;
    padding: 20px;
}